body{
    margin: 0px;
}
.boldy{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.welcome-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.button-color{
    text-decoration: none;
    color: white;
    background-color: rgb(15, 192, 74);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
}